.git
.github
.gitignore
.idea
.vscode
.env.local
.env.test
.env.*.local
var/*
!var/.gitkeep
node_modules/
vendor/
docker-compose.override.yml
docker-compose.override.yaml
Dockerfile
.dockerignore
.DS_Store
README.md
tests/
phpunit.xml.dist
